### Rekursion (repeat)

In [14]:
def factorial(a):
    p = 1
    b = 1
    for i in range(a):
        p = p * b
        b = b + 1
    return p

In [15]:
rekursion(10)

3628800

In [22]:
def rekursion(a):
    print("parameter is",a)
    if a == 1:
        return 1
    else:
        return a * rekursion(a-1)

In [23]:
rekursion(6)

parameter is 6
parameter is 5
parameter is 4
parameter is 3
parameter is 2
parameter is 1

720

### Dictionary

In [26]:
ages = [456,21,786,876,435]
friends = ['Omamber', 'Foller', 'Dingdong', 'Arsian', 'Rocksky']

In [27]:
ages[3]=435
ages[4]=876

In [28]:
ages

[456, 21, 786, 435, 876]

In [32]:
for i in zip(ages,friends):
    print(i)

(456, 'Omamber')
(21, 'Foller')
(786, 'Dingdong')
(435, 'Arsian')
(876, 'Rocksky')

In [51]:
firstdictionary = {'Omamber': 456,'Foller': 21,'Dingdong': 786,'Arsian': 435,'Rocksky': 876}

In [39]:
firstdictionary['Foller']

21

In [42]:
firstdictionary['Foller']=24

In [43]:
firstdictionary['Foller']

24

In [53]:
del firstdictionary['Dingdong']

In [47]:
firstdictionary

{'Arsian': 435, 'Foller': 24, 'Omamber': 456, 'Rocksky': 876}

In [157]:
del firstdictionary[1]

KeyError: 1

In [48]:
firstdictionary

{'Arsian': 435, 'Foller': 24, 'Omamber': 456, 'Rocksky': 876}

In [49]:
'Rocksky' in firstdictionary

True

In [50]:
'Vinay' in firstdictionary

False

In [55]:
firstdictionary['Vinay']=856

In [56]:
firstdictionary

{'Arsian': 435, 'Foller': 21, 'Omamber': 456, 'Rocksky': 876, 'Vinay': 856}

Given a string s, create a dictionary whose keys are letters of the string s. The value of each key in the dictionary should be the number of times that letter appears in the string s. Write a function that takes in a string s and returns a dictionary. Call this function letter_dict

For example, `letter_dict('hello')` should return <br>
`{'h':1,'e':1,'l':2,'o':1}`

Note that the order of keys in the dictionary does not matter.

#### Hint(s)

* Strings are lists too
* To loop over every element of a list, use the following format:

`for i in my_list:`

In [77]:
def letter_dict(a):
    d={}
    for i in a:
        #check if i is in d or not
        #if i is not in a, add i to a. what should be the value of i?
        #if i is in a, what will you do?
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d

In [78]:
letter_dict('hello')

{'e': 1, 'h': 1, 'l': 2, 'o': 1}

In [79]:
letter_dict('mississippi')

{'i': 4, 'm': 1, 'p': 2, 's': 4}

In [69]:
d={}
for i in 'hello':
    d[i] = 1

In [70]:
d

{'e': 1, 'h': 1, 'l': 1, 'o': 1}

Write a function `letters2` that takes in a string s and returns a dictionary whose keys are two consecutive letters of string s and each value is the number of times the corresponding key appears in the string.

In [85]:
def letters2(s):
    d = {}
    for i in range(len(s)-1):
        a = s[i]+s[i+1]
        if a in d:
            d[a]= d[a]+1
        else:
            d[a]=1
    return d

In [86]:
for i in range(len('hello')-1):
    print('hello'[i],'hello'[i+1])

h e
e l
l l
l o

In [87]:
letters2('mississippi')

{'ip': 1, 'is': 2, 'mi': 1, 'pi': 1, 'pp': 1, 'si': 2, 'ss': 2}

### Lists in detail

In [88]:
a = ['wed','fwrd','fgydauejr','djsh']
b = ['Tony','Vinay']

In [90]:
b+a

['Tony', 'Vinay', 'wed', 'fwrd', 'fgydauejr', 'djsh']

In [91]:
a.append('crazy names')

In [92]:
b+a

['Tony', 'Vinay', 'wed', 'fwrd', 'fgydauejr', 'djsh', 'crazy names']

In [94]:
a.insert(1,'dumb names')

In [95]:
a

['wed', 'dumb names', 'fwrd', 'fgydauejr', 'djsh', 'crazy names']

In [133]:
b.reverse()

In [134]:
b

['Vinay', 'Tony']

In [98]:
del b[1]

In [99]:
b

['Vinay', 'Tony']

In [100]:
len(a)

6

In [101]:
a[5]

'crazy names'

In [102]:
len(a)-1

5

In [110]:
a[-6]

'wed'

In [111]:
a

['wed', 'dumb names', 'fwrd', 'fgydauejr', 'djsh', 'crazy names']

In [112]:
b

['Vinay', 'Tony']

In [118]:
print(a)
a[1:5]

['wed', 'dumb names', 'fwrd', 'fgydauejr', 'djsh', 'crazy names']

['dumb names', 'fwrd', 'fgydauejr', 'djsh']

In [119]:
a[:4]

['wed', 'dumb names', 'fwrd', 'fgydauejr']

In [120]:
a[0:4]

['wed', 'dumb names', 'fwrd', 'fgydauejr']

In [124]:
a[-4:]

['fwrd', 'fgydauejr', 'djsh', 'crazy names']

In [125]:
c = ['Crawford','mike','mark','cart','steve','ben','adam']

In [127]:
c[1:-1]

['mike', 'mark', 'cart', 'steve', 'ben']

Write a function that takes in a string and returns True if the string is a palindrome and False otherwise.

A palindrome is a string that reads the same forwards and backwards. For example `liril` and `malayalam` are palindromes since they read the same in either direction.

In [154]:
def is_palindrome(s):
    a= 0
    b= -1
    for i in range(len(s)//2):
        if s[a] == s[b]:
            a = a+1
            b = b-1
        else:
            return False
    return True

In [156]:
is_palindrome('bad')

False

In [142]:
len('bad')

3

In [144]:
3//2

1